<!DOCTYPE html>
<html lang="ko">
<head>
    <!--meta tag  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="/stylesheets/sakura.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <title>박용준 & 이우리 결혼식 청첩장</title>
</head>
<body>
    <!--  BGM start -->
    <audio loop autoplay>
        <source src="/audio/BGM.mp4">
    </audio>
    <!--  BGM end -->

    <!-- Main content start -->
    <img src="/images/gallery/main.png">
    <div class="div_intro_section">
        <div class="flex" style="margin-bottom: 40px;">
            <img src="/images/ring.png" style="width:56%; height: 100%;">
        </div>
        <p class="div_intro_bold_text">저희 결혼 합니다.</p>
        무덥던 계절, 여름에 만나<br>
        푸릇한 나무 사이로 산뜻한 바람이 산들산들 불어오듯<br>
        서로를 각자의 시선에 담기 시작하였습니다.<br>
        서로를 담다가 우리는 닮아있게 되었고<br>
        여전히 닮아가고 있습니다.<br>
        항상 밝고 열정적으로 서로를 담고 닮아가겠습니다.<br>
        새로운 시작을 담을 자리에 맑은 웃음으로 채워주세요.<br>
        소중한 분들과 함께라면<br>
        저희에겐 더없는 행복이 될 것입니다.<br>
        <div class="flex" style="margin-top: 31px;">
            <img src="/images/text-bottom2.png">
        </div>
    </div>
    <img src="/images/gallery/img_01.png">
    <div class="flex flex-column div_name_section">
        <span class="div_name_text">박동철 · 전회자 장남 박용준</span>
        <span class="div_name_text">이금열 · 김영순 장녀 이우리</span>
        <div class="contact-button">
            <img class="icon_img" src="/images/call_icon.png">
            <span>연락하기</span>
        </div>
    </div>
    <div class="flex flex-column">
        <span class="div_name_regular_text number">2024.06.15 PM 01:50</span>
        <span class="div_name_regular_text">웨딩그룹위더스 영등포 펠리체홀</span>
    </div>
    <img src="/images/calendar.png">
    <br><br><br><br><br><br><br>
    <!-- Main content end -->

    <!-- 연락하기 팝업 start -->
    <section>
        <div class="contact-modal">
            <div class="contact-modal-inner modal">
                <div class="title modal">연락하기</div>
                <div class="content modal">
                    <div class="modal">
                        <div class="cell modal" style="flex: 1.5 1 0%;">
                            <span class="modal" style="color: rgb(102, 142, 170);">신랑</span>
                        </div>
                        <div class="cell modal">
                            <span class="modal">박용준</span>
                        </div>
                        <div class="cell flex modal">
                            <span class="phone_square modal">
                                <svg class="modal" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" style="fill: rgb(102, 142, 170);"><g><path d="m54.048 43.653-3.928 6.122a7.725 7.725 0 0 0 .829 9.434l8.566 9.277 9.277 8.566a7.726 7.726 0 0 0 9.434.829l6.638-4.259 16.65 17.219-6.748 8.553a8.839 8.839 0 0 1 -9.277 3.039c-13.659-3.633-25.501-11.763-36.672-23.25-11.487-11.171-19.617-23.013-23.251-36.672a8.84 8.84 0 0 1 3.04-9.276l8.605-6.79z"></path><path d="m85.054 73.5-1 .641 17.126 17.123.375-.475a5.5 5.5 0 0 0 -.434-7.3l-9.237-9.237a5.493 5.493 0 0 0 -6.83-.752z"></path><path d="m37.212 26.445-.475.375 17.123 17.125.641-1a5.493 5.493 0 0 0 -.75-6.829l-9.237-9.237a5.5 5.5 0 0 0 -7.302-.434z"></path></g></svg>
                            </span>
                            <span class="phone_square modal">
                                <svg class="modal" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"><g><g><path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121
                                C512,114.073,510.297,107.588,507.49,101.721z"></path></g></g> <g><g><path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51
                                C480.412,77.703,473.927,76,467,76z"></path></g></g> <g><g><path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"></path></g></g> <g><g><path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49
                                C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"></path></g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g></svg>
                            </span>
                        </div>
                    </div>
                    <div class="modal">
                        <div class="cell modal">
                            <span class="modal" style="color: rgb(102, 142, 170);">신랑 아버지</span>
                        </div>
                        <div class="cell modal">
                            <span class="modal">박동철</span>
                        </div>
                        <div class="cell flex modal">
                            <span class="phone_square modal">
                                <svg class="modal" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" style="fill: rgb(102, 142, 170);"><g><path d="m54.048 43.653-3.928 6.122a7.725 7.725 0 0 0 .829 9.434l8.566 9.277 9.277 8.566a7.726 7.726 0 0 0 9.434.829l6.638-4.259 16.65 17.219-6.748 8.553a8.839 8.839 0 0 1 -9.277 3.039c-13.659-3.633-25.501-11.763-36.672-23.25-11.487-11.171-19.617-23.013-23.251-36.672a8.84 8.84 0 0 1 3.04-9.276l8.605-6.79z"></path><path d="m85.054 73.5-1 .641 17.126 17.123.375-.475a5.5 5.5 0 0 0 -.434-7.3l-9.237-9.237a5.493 5.493 0 0 0 -6.83-.752z"></path><path d="m37.212 26.445-.475.375 17.123 17.125.641-1a5.493 5.493 0 0 0 -.75-6.829l-9.237-9.237a5.5 5.5 0 0 0 -7.302-.434z"></path></g></svg>
                            </span>
                            <span class="phone_square modal">
                                <svg class="modal" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"><g><g><path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121
                                C512,114.073,510.297,107.588,507.49,101.721z"></path></g></g> <g><g><path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51
                                C480.412,77.703,473.927,76,467,76z"></path></g></g> <g><g><path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"></path></g></g> <g><g><path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49
                                C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"></path></g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g></svg>
                            </span>
                        </div>
                    </div>
                    <div class="modal">
                        <div class="cell modal">
                            <span class="modal" style="color: rgb(102, 142, 170);">신랑 어머니</span>
                        </div>
                        <div class="cell modal">
                            <span class="modal">전회자</span>
                        </div>
                        <div class="cell flex modal">
                            <span class="phone_square modal">
                                <svg class="modal" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" style="fill: rgb(102, 142, 170);"><g><path d="m54.048 43.653-3.928 6.122a7.725 7.725 0 0 0 .829 9.434l8.566 9.277 9.277 8.566a7.726 7.726 0 0 0 9.434.829l6.638-4.259 16.65 17.219-6.748 8.553a8.839 8.839 0 0 1 -9.277 3.039c-13.659-3.633-25.501-11.763-36.672-23.25-11.487-11.171-19.617-23.013-23.251-36.672a8.84 8.84 0 0 1 3.04-9.276l8.605-6.79z"></path><path d="m85.054 73.5-1 .641 17.126 17.123.375-.475a5.5 5.5 0 0 0 -.434-7.3l-9.237-9.237a5.493 5.493 0 0 0 -6.83-.752z"></path><path d="m37.212 26.445-.475.375 17.123 17.125.641-1a5.493 5.493 0 0 0 -.75-6.829l-9.237-9.237a5.5 5.5 0 0 0 -7.302-.434z"></path></g></svg>
                            </span>
                            <span class="phone_square modal">
                                <svg class="modal" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"><g><g><path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121
                                C512,114.073,510.297,107.588,507.49,101.721z"></path></g></g> <g><g><path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51
                                C480.412,77.703,473.927,76,467,76z"></path></g></g> <g><g><path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"></path></g></g> <g><g><path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49
                                C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"></path></g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g></svg>
                            </span>
                        </div>
                    </div>
                    <hr class="modal">
                    <div class="modal">
                        <div class="cell modal" style="flex: 1.5 1 0%;">
                            <span class="modal" style="color: rgb(206, 131, 131);">신부</span>
                        </div>
                        <div class="cell modal">
                            <span class="modal">이우리</span>
                        </div>
                        <div class="cell flex modal">
                            <span class="phone_square modal">
                                <svg class="modal" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" style="fill: rgb(102, 142, 170);"><g><path d="m54.048 43.653-3.928 6.122a7.725 7.725 0 0 0 .829 9.434l8.566 9.277 9.277 8.566a7.726 7.726 0 0 0 9.434.829l6.638-4.259 16.65 17.219-6.748 8.553a8.839 8.839 0 0 1 -9.277 3.039c-13.659-3.633-25.501-11.763-36.672-23.25-11.487-11.171-19.617-23.013-23.251-36.672a8.84 8.84 0 0 1 3.04-9.276l8.605-6.79z"></path><path d="m85.054 73.5-1 .641 17.126 17.123.375-.475a5.5 5.5 0 0 0 -.434-7.3l-9.237-9.237a5.493 5.493 0 0 0 -6.83-.752z"></path><path d="m37.212 26.445-.475.375 17.123 17.125.641-1a5.493 5.493 0 0 0 -.75-6.829l-9.237-9.237a5.5 5.5 0 0 0 -7.302-.434z"></path></g></svg>
                            </span>
                            <span class="phone_square modal">
                                <svg class="modal" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"><g><g><path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121
                                C512,114.073,510.297,107.588,507.49,101.721z"></path></g></g> <g><g><path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51
                                C480.412,77.703,473.927,76,467,76z"></path></g></g> <g><g><path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"></path></g></g> <g><g><path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49
                                C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"></path></g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g></svg>
                            </span>
                        </div>
                    </div>
                    <div class="modal">
                        <div class="cell modal">
                            <span class="modal" style="color: rgb(206, 131, 131);">신부 아버지</span>
                        </div>
                        <div class="cell modal">
                            <span class="modal">이금열</span>
                        </div>
                        <div class="cell flex modal">
                            <span class="phone_square modal">
                                <svg class="modal" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" style="fill: rgb(102, 142, 170);"><g><path d="m54.048 43.653-3.928 6.122a7.725 7.725 0 0 0 .829 9.434l8.566 9.277 9.277 8.566a7.726 7.726 0 0 0 9.434.829l6.638-4.259 16.65 17.219-6.748 8.553a8.839 8.839 0 0 1 -9.277 3.039c-13.659-3.633-25.501-11.763-36.672-23.25-11.487-11.171-19.617-23.013-23.251-36.672a8.84 8.84 0 0 1 3.04-9.276l8.605-6.79z"></path><path d="m85.054 73.5-1 .641 17.126 17.123.375-.475a5.5 5.5 0 0 0 -.434-7.3l-9.237-9.237a5.493 5.493 0 0 0 -6.83-.752z"></path><path d="m37.212 26.445-.475.375 17.123 17.125.641-1a5.493 5.493 0 0 0 -.75-6.829l-9.237-9.237a5.5 5.5 0 0 0 -7.302-.434z"></path></g></svg>
                            </span>
                            <span class="phone_square modal">
                                <svg class="modal" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"><g><g><path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121
                                C512,114.073,510.297,107.588,507.49,101.721z"></path></g></g> <g><g><path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51
                                C480.412,77.703,473.927,76,467,76z"></path></g></g> <g><g><path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"></path></g></g> <g><g><path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49
                                C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"></path></g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g></svg>
                            </span>
                        </div>
                    </div>
                    <div class="modal">
                        <div class="cell modal">
                            <span class="modal" style="color: rgb(206, 131, 131);">신부 어머니</span>
                        </div>
                        <div class="cell modal">
                            <span class="modal">김영순</span>
                        </div>
                        <div class="cell flex modal">
                            <span class="phone_square modal">
                                <svg class="modal" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" style="fill: rgb(102, 142, 170);"><g><path d="m54.048 43.653-3.928 6.122a7.725 7.725 0 0 0 .829 9.434l8.566 9.277 9.277 8.566a7.726 7.726 0 0 0 9.434.829l6.638-4.259 16.65 17.219-6.748 8.553a8.839 8.839 0 0 1 -9.277 3.039c-13.659-3.633-25.501-11.763-36.672-23.25-11.487-11.171-19.617-23.013-23.251-36.672a8.84 8.84 0 0 1 3.04-9.276l8.605-6.79z"></path><path d="m85.054 73.5-1 .641 17.126 17.123.375-.475a5.5 5.5 0 0 0 -.434-7.3l-9.237-9.237a5.493 5.493 0 0 0 -6.83-.752z"></path><path d="m37.212 26.445-.475.375 17.123 17.125.641-1a5.493 5.493 0 0 0 -.75-6.829l-9.237-9.237a5.5 5.5 0 0 0 -7.302-.434z"></path></g></svg>
                            </span>
                            <span class="phone_square modal">
                                <svg class="modal" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"><g><g><path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121
                                C512,114.073,510.297,107.588,507.49,101.721z"></path></g></g> <g><g><path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51
                                C480.412,77.703,473.927,76,467,76z"></path></g></g> <g><g><path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"></path></g></g> <g><g><path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49
                                C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"></path></g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g></svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 연락하기 팝업 end -->

    <script src="/javascripts/sakura.min.js"></script>
    <script>
        const sakura = new Sakura('body');

        const contactButton = document.querySelector('.contact-button');
        const contactModal = document.querySelector('.contact-modal-inner');
        const contactModalBackground = document.querySelector('.contact-modal');
        const phoneIcon = document.querySelectorAll('.phone_square');

        contactButton.addEventListener('click', e => {
            contactModal.style.display = 'flex';
            contactModalBackground.classList.add('modal_background');
        });

        contactModalBackground.addEventListener('click', e => {
            console.log(e.target.classList);
            if (!e.target.classList.contains('modal')){
                contactModal.style.display = 'none';
                contactModalBackground.classList.remove('modal_background');
            }
        });

        phoneIcon.forEach((e) => {
            e.addEventListener('click', e => {
                console.log('클릭');
            })
        });

    </script>
</body>
</html>