<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="/stylesheets/sakura.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <title>박용준 & 이우리 결혼식 청첩장</title>
</head>
<body>
<!--    <audio controls loop>-->
<!--        <source src="/audio/BGM.mp4" type="audio/mp4">-->
<!--    </audio>-->
    <img src="/images/gallery/main.png">
    <div class="div_intro_section">
        <div class="flex" style="margin-bottom: 40px;">
            <img src="/images/ring.png" style="width:56%; height: 100%;">
        </div>
        <p class="div_intro_bold_text">저희 결혼 합니다.</p>
        무덥던 계절, 여름에 만나<br>
        푸릇한 나무 사이로 산뜻한 바람이 산들산들 불어오듯<br>
        서로를 각자의 시선에 담기 시작하였습니다.<br>
        서로를 담다가 우리는 닮아있게 되었고<br>
        여전히 닮아가고 있습니다.<br>
        항상 밝고 열정적으로 서로를 담고 닮아가겠습니다.<br>
        새로운 시작을 담을 자리에 맑은 웃음으로 채워주세요.<br>
        소중한 분들과 함께라면<br>
        저희에겐 더없는 행복이 될 것입니다.<br>
        <div class="flex" style="margin-top: 31px;">
            <img src="/images/text-bottom2.png">
        </div>
    </div>
    <img src="/images/gallery/img_01.png">
    <div class="flex flex-column div_name_section">
        <span class="div_name_text">박동철 · 전회자 장남 박용준</span>
        <span class="div_name_text">이금열 · 김영순 장녀 이우리</span>
    </div>
    <div class="flex flex-column">
        <span class="div_name_regular_text number">2024.06.15 PM 01:50</span>
        <span class="div_name_regular_text">웨딩그룹위더스 영등포 펠리체홀</span>
    </div>
    <img src="/images/calendar.png">

<br><br><br><br><br><br><br>
    <script src="/javascripts/sakura.min.js"></script>
    <script>
        var sakura = new Sakura('body');
    </script>
</body>
</html>