<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/stylesheets/sakura.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>박용준 & 이우리 결혼식 청첩장</title>
</head>
<body>
<!--    <audio controls loop>-->
<!--        <source src="/audio/BGM.mp4" type="audio/mp4">-->
<!--    </audio>-->
    <img src="/images/main.png">
    <div class="div1_name_section">
        <div class="flex">
            <p class="div1_green_text">신랑</p>
            <p class="div1_green_text">신부</p>
        </div>
        <div class="flex">
            <p class="div1_bold_text">박용준</p>
            <p class="div1_bold_text">|</p>
            <p class="div1_bold_text">이우리</p>
        </div>
        <div class="flex flex-column">
            <p class="div1_info_text">2024.06.15 PM 01:50</p>
            <p class="div1_info_text">영등포웨딩 머시기홀</p>
        </div>
    </div>
    <div class="div2_text_section">
        <div class="flex" style="margin-bottom: 40px;">
            <img src="/images/ring.png" style="width:56%; height: 100%;">
<!--            <img src="/images/text-top.png">-->
        </div>
        <p class="div2_bold_text">저희 결혼 합니다.</p>
        무덥던 계절, 여름에 만나<br>
        푸릇한 나무 사이로 산뜻한 바람이 산들산들 불어오듯<br>
        서로를 각자의 시선에 담기 시작하였습니다.<br>
        서로를 담다가 우리는 닮아있게 되었고<br>
        여전히 닮아가고 있습니다.<br>
        항상 밝고 열정적으로 서로를 담고 닮아가겠습니다.<br>
        새로운 시작을 담을 자리에 맑은 웃음으로 채워주세요.<br>
        소중한 분들과 함께라면 저희에겐 더없는 행복이 될 것입니다.<br>
        <div class="flex" style="margin: 10px 0 40px 0;">
            <img src="/images/text-bottom2.png">
        </div>
    </div>

    <script src="/javascripts/sakura.min.js"></script>
    <script>
        var sakura = new Sakura('body');
    </script>
</body>
</html>